<div *ngIf="pageLoaded" class="columns">
    <div class="column is-one-third">
        <div class="level">
            <div class="level-item">
                <h1 class="title">Upcoming</h1>
            </div>
        </div>
        <div class="is-flex is-justify-content-center">
            <app-movie-render [column-direction]="true" [clickable]="false" 
            [movies]="upcoming"></app-movie-render>
        </div>
    </div>
    <div class="column" style="background-color: gray;">
        <div class="level">
            <div class="level-item">
                <h1 class="title">Featured</h1>
            </div>
        </div>
        <app-movie-render [clickable]="clickable" [movies]="featured"></app-movie-render>
           

        
        <div class="level">
            <div class="level-item">
                <h1 class="title">New Release</h1>
            </div>
        </div>
        <app-movie-render [clickable]="clickable" [movies]="newRelease"></app-movie-render>
    </div>
</div>

<div *ngIf="!pageLoaded" class="is-flex is-justify-content-center">
    <img [src]="loadingImgPath" alt="Loading image">
</div>
